body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #000000;
}

textarea{
  background: transparent;
  resize: none;
  color: #FFFFFF;
  border-left: 1px solid white;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid white;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;;
}

.hour {
  background-color: #000000;
  color: #FFFFFF;
  border-top: 1px dashed #FFFFFF;
  display: flex;
  align-items: center;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: black;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  background-color: #0696b6;
  background-image: linear-gradient(180deg, #0667b6 0%, #0696b6 50%, #00fafa 100%);
}

.resetBtn {
  font-size: 20px;
  padding: 10px;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  background-color: red;
  align-items: center;
}

.resetBtn:hover {
  transition: all .3s ease-in-out;
  background-color: #ff0d00;
  background-image: linear-gradient(180deg, #ff0000 0%, #f05656 50%, #ffa705 100%);
}

#saveAllBtn {
  font-size: 20px;
  padding: 10px;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  background-color: #06AED5;
  align-items: center;
}

#saveAllBtn:hover {
  transition: all .3s ease-in-out;
  background-color: #ff0d00;
  background-image: linear-gradient(180deg, #0667b6 0%, #0696b6 50%, #00fafa 100%);
}
